name: PoC Nivel 1-1 - Some expressions and functions

on:
  workflow_dispatch:


jobs: 
  print_issue_context:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'issues' }}
    steps:
      - name: Print issue context
        run: echo ${{ toJson(github) }}
  get_labels_from_issue:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'issues' }}
    steps:
      - name: Print all labels with contains if issue is a bug
        if: ${{ contains(github.event.issue.labels.*.name, 'bug') }}
        run: echo ${{ join(github.event.issue.labels.*.name, ', ') }}
  
  test_functions:
    runs-on: ubuntu-latest
    steps:
      - name: Check result functions
        run: |
          echo ${{ contains('hello', 'll') }}
          echo ${{ startsWith('hello', 'he') }}
          echo ${{ endsWith('hello', 'o') }}
          echo ${{ format('hello {0} {1} {2}', 'world', '!', '!') }}

      - name: Step fails
        run: eccho "bad command"

      - name: If step
        if: failure()
        run: echo "after error"

      - name: Another step
        run: echo "another step"

      - name: Executed always
        if: always()
        run: echo "Always forever"

